@using Models
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> _SignInManager

   
     
@{
    var claimsIdentity = (System.Security.Claims.ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier);
    var userId = claim.Value;
}     

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>



    <link
      rel="stylesheet"
      href="~/assets/font/css/all.css"
    />
   
      <link rel="stylesheet" href="~/assets/css/vendor.css" />
     

    @RenderSection("StyleSection",false)
</head>
<body>
      <aside id="side">
        <div class="close" id="close-btn" onclick="closeMenu()" style="
    margin-left: 8.5rem;
    margin-top: 2rem;
    display: none;
">
<i class="fas fa-solid fa-xmark" ></i>

        </div>
        <ul class="mysidebar">

           
                <a asp-action="Index" asp-controller="Home" ><img src="~/assets/image/logo/ABH.png" class="mylogo"/></a>
                @*<img src="~~/assets/ABH.jpg" />*@

          
            
                @if (ViewBag.Flag == null)
                    ViewBag.Flag = false;
                @if ((!ViewBag.Flag && this.User.HasClaim(c => c.Value == "Vendor"))  )
                {
                    <!--View Recipes / Reviews / Orders-->
                      <li class="nav-item " ><a href="#product" onclick="activeLi()"><span>Products</span><i class="fa fa-angle-right dropdown" ></i>
                            </a>
                        <ul class="sub-menu">

                       <li><a asp-action="Get" asp-controller="Product" class="sub-item"> View Products </a></li>
                       <li><a asp-action="Add" asp-controller="Product" class="sub-item">Add Products </a></li>
                      </ul>
                       </li>
                    <li><a asp-action="Get" asp-controller="Store" asp-route-Vendor_ID="@userId">Stores </a></li>
                    <li><a asp-action="Search" asp-controller="Rating" asp-route-Vendor_ID="@userId">Reviews </a></li>

                         
                       
                        <li><a asp-action="Get" asp-controller="Category">Category </a></li>

                @if (this.User.HasClaim(c => c.Value == "Vendor"))
                {
                    <li><a asp-action="GetOrders" asp-controller="Vendor" asp-route-Vendor_ID="@userId"> Orders </a></li>
                }
                else
                {
                    <li><a asp-action="Get" asp-controller="Order" asp-route-Vendor_ID="@userId"> Orders </a></li>
                }


            }

            
                    @if (this.User.HasClaim(c => c.Value == "Admin"))
                    {
                        <li class="nav-item " ><a href="#product" onclick="activeLi()"><span>Products</span><i class="fa fa-angle-right dropdown" ></i>
                            </a>
                        <ul class="sub-menu">

                       <li><a asp-action="Get" asp-controller="Product" class="sub-item"> View Products </a></li>
                       <li><a asp-action="Add" asp-controller="Product" class="sub-item">Add Products </a></li>
                      </ul>
                       </li>
                       <li class="nav-item"><a href="#Users"><span>Users</span><i class="fa fa-angle-right dropdownU" ></i></a>
                           <ul class="sub-menu">
                        <li><a asp-action="Search" asp-controller="User" class="sub-item">View Users </a></li>
                         <li><a asp-action="Add" asp-controller="User" class="sub-item">Add Users </a></li>
                         </ul>
                         </li>
                      
                    <li><a asp-action="Search" asp-controller="Rating" >Reviews </a></li>
                    <li><a asp-action="Get" asp-controller="Order" >Orders </a></li>
                    <li class="nav-item"><a href="#Vendor"><span>Vendors</span><i class="fa fa-angle-right dropdown" ></i></a>
                        <ul class="sub-menu">
                        <li><a asp-action="search" asp-controller="Vendor" class="sub-item">View Vendors </a></li>
                        <li><a asp-action="Add" asp-controller="Vendor" class="sub-item">Add Vendors </a></li>
                        </ul>
                        </li>
                        <li><a asp-action="Get" asp-controller="Category">Category </a></li>
                    }
                
            


      </ul>
    </aside>

    <main>
       <nav class="navbar">
         
         <i  class="fa-solid fa-bars menu-icn" id="menu-bars" onclick="openMenu()" ></i>
    @*    <input type="text" placeholder="Search..." />*@
  @*      <i class="fa-solid fa-bell nav-icn"></i>
        <i class="fa-solid fa-envelope nav-icn"></i>*@
            @if (_SignInManager.IsSignedIn(User)   )
            {
                <a asp-action="Details" asp-controller="Vendor" asp-route-id="@userId">
                    <img src="~/Content//Images/pic.png" id="restaurant-pic" alt="restaurant-pic" />
                </a> 
            }
            else
            {
                <a asp-action="SignUp" asp-controller="User">
                    <img src="~/Content//Images/pic.png" id="restaurant-pic" alt="restaurant-pic" />
                </a>  
            }
        @if(_SignInManager.IsSignedIn(User))
        {
            <div>
         <span id="restaurant-name">@User.Identity.Name </span>|
        <span><a asp-action="SignOut" asp-controller="User" style="text-decoration:none; color: #143444; font-size:20px;" ><i class="fas fa-power-off"></i>

</a></span> 

        </div>
        }
        
      </nav>

        <section class="mycontainer">
            @RenderBody()
        </section>
      </main>
      <script>
          let aside = document.querySelector('aside');
          let li = aside.getElementsByClassName('nav-item');
          const sideMenu = document.getElementById("side");
const menuBtn = document.querySelector("#menu-bars");
const closeBtn = document.getElementById("close-btn");



function openMenu() {
    menuBtn.style.display = 'none'
    sideMenu.style.display = 'block'
    closeBtn.style.display = 'block'
}


function closeMenu() {
    sideMenu.style.display = 'none'
    closeBtn.style.display = 'none'
    menuBtn.style.display = 'block'
}
for(let i of li){
    i.onclick = activeLi;
}

function activeLi(){
    const list = Array.from(li);
    list.forEach(e=>e.classList.remove('active'));
    this.classList.add('active');

}

      </script>
      @*<script src="~/assets/js/vendor.js"></script>*@
     
      <script src="~/lib\jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  </body>
</html>
